body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url("bg.png") no-repeat center center fixed;
    background-size: cover;
    filter: blur(3px);
    opacity: 0.25;
    z-index: -1;
}

form {
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
    width: 320px;
    background-color: #90cbd4;
}

img {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 20px;
    color: #103948;
}

label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    color: #232323;
}

#user, #pass {
    width: 100%;
    padding: 8px;
    border-radius: 20px;
    margin-bottom: 15px;
    border: none;
    background-color: #fff8e9;
}

#stay {
    margin-right: 5px;
}

p {
    font-size: small;
    color: #555;
    margin-bottom: 10px;
}

#login {
    background-color: #a74258;
    color:#fff8e9;
    border-color: #87515c;
    cursor: pointer;
}

#reset {
    background-color: #c9c5b0;
    border-color: #bab497;
    margin-left: 10px;
    cursor: pointer;
}

details {
    display: block;
    margin-top: 15px;
    background: none;
    border: none;
    color: #114716;
    font-size: small;
}
